##NoOfTests ModelBinary SimulationConfig NoOfWorkerThreads ScheduleQScheme CausalityType NoOfScheduleQueues SimulateUntil StallTimeout
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  4 LadderQueue Strict  1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  4 LadderQueue Strict  2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  8 LadderQueue Strict  1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  8 LadderQueue Strict  2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  8 LadderQueue Strict  4 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 16 LadderQueue Strict  1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 16 LadderQueue Strict  2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 16 LadderQueue Strict  4 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 32 LadderQueue Strict  1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 32 LadderQueue Strict  2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 32 LadderQueue Strict  4 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  4 LadderQueue Relaxed 1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  4 LadderQueue Relaxed 2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  8 LadderQueue Relaxed 1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  8 LadderQueue Relaxed 2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml  8 LadderQueue Relaxed 4 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 16 LadderQueue Relaxed 1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 16 LadderQueue Relaxed 2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 16 LadderQueue Relaxed 4 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 32 LadderQueue Relaxed 1 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 32 LadderQueue Relaxed 2 100000 1m
run 20 epidemicSim epidemic/LargeEPIDEMIC.xml 32 LadderQueue Relaxed 4 100000 1m
