##NoOfTests ModelBinary SimulationConfig NoOfWorkerThreads ScheduleQScheme CausalityType NoOfScheduleQueues SimulateUntil StallTimeout
run 10 raidSim raid/LargeRaid  4 LadderQueue  Strict 1 100000 2m
run 10 raidSim raid/LargeRaid  4 LadderQueue  Strict 2 100000 2m
run 10 raidSim raid/LargeRaid  8 LadderQueue  Strict 1 100000 2m
run 10 raidSim raid/LargeRaid  8 LadderQueue  Strict 2 100000 2m
run 10 raidSim raid/LargeRaid  8 LadderQueue  Strict 4 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue  Strict 1 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue  Strict 2 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue  Strict 4 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue  Strict 8 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue  Strict 1 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue  Strict 2 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue  Strict 4 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue  Strict 8 100000 2m
run 10 raidSim raid/LargeRaid  4 LadderQueue Relaxed 1 100000 2m
run 10 raidSim raid/LargeRaid  4 LadderQueue Relaxed 2 100000 2m
run 10 raidSim raid/LargeRaid  8 LadderQueue Relaxed 1 100000 2m
run 10 raidSim raid/LargeRaid  8 LadderQueue Relaxed 2 100000 2m
run 10 raidSim raid/LargeRaid  8 LadderQueue Relaxed 4 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue Relaxed 1 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue Relaxed 2 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue Relaxed 4 100000 2m
run 10 raidSim raid/LargeRaid 16 LadderQueue Relaxed 8 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue Relaxed 1 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue Relaxed 2 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue Relaxed 4 100000 2m
run 10 raidSim raid/LargeRaid 32 LadderQueue Relaxed 8 100000 2m
